<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="Suite" parallel = "tests"  thread-count ="5" verbose= "1">
	<test name="CromeTest">
		<parameter name="browser" value="chrome" />
		<groups>
			<define name="all">
				<include name="sanity"></include>
				<include name="func"></include>
				<include name= "error-handling"></include>
				<include name="integration"></include>
			</define>
			
			
			<run>
				<include name="all"></include>
			</run>
		</groups>
		
		<classes>
			<class name="tests.SanityTest" />
			<class name="tests.FuncTests" />
			<class name="tests.ErrorHTests"/>
			<class name="tests.integrationTests"/>
		</classes>
	</test><!--Test -->
	
  
	 <test name="FirefoxTest">
		<parameter name="browser" value="firefox" />
		
		<groups>
			<define name="all">
				<include name="sanity"></include>
				<include name="func"></include>
				<include name= "error-handling"></include>
				<include name="integration"></include>
			</define>
			
			
			
			<run>
				<include name="all"></include>
			</run>
		</groups>
		
		<classes>
			<class name="tests.SanityTest" />
			<class name="tests.FuncTests" />
			<class name="tests.ErrorHTests"/>
			<class name="tests.integrationTests"/>
		</classes>
	</test> 


</suite> <!-- Suite -->
